#mainCreateDiv{
    height: 100%;
    align-items: top;
    justify-content: center;
    justify-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
  }
  
  button {
    margin: 5px;
  }
  